html{
}
body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btnlmt{
    width: auto;
    height: auto;
}

#butLimit{
    height: content-box;
    display: block;
    margin-left: 10%;
    margin-right: 10%
}

@media screen and (max-width: 1900px){
    .btnlmt{
        width: 55px;
        height: 20px;
        font-size: 10px;
    }


}
