html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-color: #fff7dd;
}
#center{
    position: absolute;
    left: 27%;
    right: 27%;
    width: 45%;
    height: 100%;
    border: 1px #451c17 solid;
}

#completedBids{
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 20%;
}

#schedule{
    position: absolute;
    width: 100%;
    height: 45%;
}

#pairChoice{
    position: absolute;
    top: 46%;
    left: 1%;
}

#forms{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
}

.input{
    width: 90%;
    height: 23px;
    border-radius: 4px;
    border: 1px solid #050956;
    background-color: bisque;
    resize: none;
}

#rateBuy, #rateSell, #totalBuy, #totalSell{

}

#pairs{
    width: auto;
    height: 20px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    background-color: #f6f6f6;
}

#quantitySell, #quantityBuy{

}

#quantityBuy:focus{
    color: #474747;
    background-color: #dfc4a6;
    border-color: #635a4f;
    outline: none;
}

#quantitySell:focus{
    color: #474747;
    background-color: #dfc4a6;
    border-color: #635a4f;
    outline: none;
}

.disc{
    color: gray;
}

.form{
    width: 33%;
}

#buy{
    position: absolute;
    left: 5%;
}

#limitOrder{
    position: absolute;
    left: 38%;
}

#sell{
    position: absolute;
    left: 71%;
}

#butBuy, #butSell{
    position: absolute;
    top: 150px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    background-color: #3e678f;
    color: #e7e7d2;
}

#butBuy{
    left: 5%;
}
#butSell{
    right: 12%;
}

#sellsOrders{
    width: 180px;
    height: 190px;
    overflow: auto;
    color: bisque;
}

#bidsSell, #bidsBuy{
    width: 100%;
    height: 100%;
    overflow: auto;
}


#bidsSell::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#bidsSell::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#bidsSell::-webkit-scrollbar-thumb
{
    background-color: #b9afbd;
}

#bidsBuy::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#bidsBuy::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#bidsBuy::-webkit-scrollbar-thumb
{
    background-color: #b9afbd;
}

#bidsSells, #bidsBuys{
    position: absolute;
    top: 50%;
    width: 20%;
    height: 25%;
    color: bisque;
}

#bidsSells{
    right: 3%;
}
#bidsBuys{
    left: 5%;
}

.rowSell, .rowBuy, .rowsSell, .rowsBuy, .rowHistory{
    display: flex;
}

.prr, .prr1, .rowsPriceSell, .rowsQuanSell, .rowsTotalSell, .rowsPriceBuy, .rowsQuanBuy, .rowsTotalBuy{
    text-align: center;
    color: #5b5b5b;
    width: 33%;
    height: 20px;
    border: 1px #767676 solid;
}

.prr1{
    width: 20%;
}

@media screen and (max-width: 1000px){
    .input{
        width: 75%;
        height: 23px;
        border-radius: 4px;
        border: 1px solid #050956;
        background-color: #28ff4b;
        resize: none;
    }

    #butSell{
        right: 6%;
    }

    #schedule{
        position: absolute;
        width: 100%;
        height: 30%;
    }

    #pairChoice {
        position: absolute;
        top: 20%;
        left: 1%;
    }

    #forms {
        position: absolute;
        top: 25%;
        width: 100%;
        display: flex;
    }

    #completedBids{
        position: absolute;
        bottom: 35%;
        width: 100%;
        height: 20%;
    }

}

@media screen and (min-width: 1800px){
    #center{
        position: absolute;
        left: 33%;
        right: 33%;
        width: 33%;
        height: 100%;
        border: 1px #451c17 solid;
    }
}